.custom__button,
.custom_button_dark {
  padding: 0.5em 0;
  border: 2px solid #000000;
  text-align: center;
  background-color: #ffffff;
  color: #000000;
  outline: none;
  text-transform: uppercase;
  align-self: stretch;
  font-size: 20px;
  cursor: pointer;
}

.custom_button_dark {
  background-color: #000000;
  color: #ffffff;
  font-size: 18px;
  padding: 0.4em 4em;
}

@media (max-width: 339px) {
  .custom__button,
  .custom_button_dark {
    font-size: 15px;
  }
}

@media (max-width: 295px) {
  .custom__button,
  .custom_button_dark {
    font-size: 14px;
  }
}
